# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Project specific (Don't upload 100s of MBs of models)
experiments/
mlruns/
.pytest_cache/